<p id="notice"><%= notice %></p>

<p class="text-left">
  <%= link_to @invoice.reference, invoice_path(@invoice) %>
</p>
<p class="text-left">
  <%= @invoice.brand_manager %>
</p>
<p class="text-left">
  <%= @invoice.customer_name %>
</p>
<p class="text-left">
  <%= @invoice.narration %>
</p>

<table class="table">
  <thead class="table-success">
    <tr>  
      <th>Date</th>
      <th>Event</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @invoice.invoice_date %></td>
      <td><%= "New Invoice" %></td>
      <td><%= @invoice.amount %></td>
    </tr>

    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.collection_date %></td>
        <td><%= "Collection" %></td>
        <td><%= collection.amount %></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td><%= "Balance" %></td>
      <td><%= @invoice.balance %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Add collection', new_invoice_collection_path(@invoice), class: 'btn btn-primary' %>
<%= link_to 'Back', invoices_path, class: 'btn btn-light' %>

